body {
    font-family: "Poppins", sans-serif;
     color: #fff;
    min-height: 30rem;
    background: linear-gradient(#6d84ad, #99a8c7) no-repeat;
}
header {
    color: #fff;
    min-height: 30rem;
    background: linear-gradient(#6d84ad, #99a8c7) no-repeat;
}
h1,
h2,
h3,
h4 {
    font-weight: 600;
}
h1 {
    font-size: 4rem;
}
header img {
    right: 0;
}
button {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    outline: none;
}
.header-left {
    max-width: 40rem;
}
.header-img {
    right: 0;
}
.navbar {
    padding-top: calc(34px + 15px);
    background-position: center center;
    background-size: cover;
    background-color: blue;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}
.nav-toggle {
    width: 25px;
    height: 20px;
    position: relative;
    span {
        display: block;
        height: 3px;
        background: white;
        position: absolute;
        border-radius: 5px;
        transition: all ease 250ms;
        &:nth-child(1) {
            top: 0;
            left: 0;
            width: 100%;
        }
        
        &:nth-child(2) {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 75%;
        }
        &:nth-child(3) {
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}
nav ul {
    margin: 0;
    margin-left: 1.5rem;
}
nav li {
    display: inline;
    padding: 1rem;
}